<div class="main">
    <div class="logo">
        <img src="https://th.bing.com/th/id/OIP.EzVkl6Fzb3hdHZIqMuFbUAHaFj?rs=1&pid=ImgDetMain" alt="">
        <h1>Reylce InfoTech</h1>

    </div>
    <nav>
        <a href="">Home</a>
        <a href="\about">About</a>
        <a href="\contact">Contact</a>
        <a href="\service">Service</a>
    </nav>
    <button class="button">
      <svg class="svgIcon" viewBox="0 0 384 512">
        <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"></path>
      </svg>
    </button>
    </div>


    <!-- <div class="hover-area" (mouseover)="showDiv=true" (mouseout)="showDiv=false">
        Hover over me to show the box
      </div>
      
      <div *ngIf="showDiv" class="popup-box">
        This is the div that shows on hover!
      </div> -->



  